
.banner-area{
    overflow:auto;
    background-color: black;
    position: relative;
    height: 100%;
}

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.banner-table{
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header {
  margin: 20px 0;
  padding: 30px;
}

.welcome-text{
    color: #ffffff;
}

.important {
  font-size: 5em;
  font-weight: 700;
}

.welcome-text h4{
    font-size: 1.8em;
    font-weight: 300;
    color: #ffffff;
}

.main {
  margin: 20px 0;
  padding: 30px;
}

.welcome-text-main h4{
    text-transform: none;
    font-size: 1.8em;
    font-weight: 300;
    color: #ffffff;
}

.smily {
  display:inline-block;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
}

.issues-area {
  border: 3px solid #c4c3c6;
  background-color: #5d5c61;
  color: #fff;
  padding: 30px 20px;
  text-align: justify;
}
